
.mainContainer{
    margin:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .homeMain-buttons{
        margin:20px;
        display: flex;
        justify-content: center;
        width:50%;        
    }
    h2{
        text-align:center;
        width:50%;
    }
}
