.homeHeader-navMenuTop, .homeHeader-navMenuScrolled{
    top: 0;
    position: fixed;
    background-color: #fff;
    z-index: 2;
}

.homeHeader-navMenuTop{
    right:150px;
}
    
.homeHeader-navlist{
    display: flex;
    justify-content: flex-end;
    li, p{
        padding: 10px;
    }
    p{
        cursor: default;
    }
}
    
.homeHeader-navlist-1{
    color: #737373;
    font-size: 0.875rem;
}
    
.homeHeader-navlist-2{
    font-size: 1.125rem;
    cursor: pointer;
}


.homeHeader-navMenuScrolled{
    padding-top: 10px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    left:50%;
    transform: translate(-50%, 0);
    padding-bottom: 20px;
}