.homeThreeColumns-background{
    background-image:url("../../../assets/3\ Columns\ Background.png");
    width:100%;
}

.homeThreeColumns-content{
    display: flex;
    justify-content: space-between;
}

.homeThreeColumns-columnBox{
    display:flex;
    flex-direction: column;
    margin: 85px 50px;
    h3{
        font-size: 5.625rem;
        font-weight:200;
        align-self: center;
    }
}
.homeThreeColumns-columnCategory{
    font-size:1.125rem;
    text-transform: uppercase;
    margin-top: 20px;
    align-self: center;
}
.homeThreeColumns-columnText{
    font-family: $font-alt;
    line-height:1.5rem;
    font-weight: 300;;
    margin-top: 30px;
    text-align: justify;
    text-align-last: center;
}

@media (max-width: 992px){
    .homeThreeColumns-background{
        display: none;
    }
}



